*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #fafafa;
}

/* Área do formulário*/
.container{
    width: 90%;
    max-width: 410px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 180px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.349);
}

/* Barra de progresso*/
.progress{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.step{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(204, 202, 202, 0.795);
    text-align: center;
    padding: 10px;
    margin: 15px 0px 35px 0px;
}

.step.active{
    background-color: blue;
    color: white;
}

/* Sobre o formulário*/
.multiStepForm{
    display: flex;
    flex-direction: column;
}

.form-step > h1{
    margin-bottom: 30px;
}

.form-step.active{
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.form-step{
    display: none;
    opacity: 0;
    transform: translateX(20px);
    transition: .4s ease;
}

.form-step > label{
    font-size: 1.1rem;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-indent: 5px;
    border: 1px solid gray;
}

.check{
    width: auto;
    height: 20px;
    margin: 30px 0px;
}

.next, .back, .enviar{
    width: 100%;
    height: 45px;
    background-color: rgb(89, 89, 233);
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
}

h3 {
    margin-top: 30px;
}

#box{
    display: grid;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 500px;
    }

    .step{
        width: 45px;
        height: 45px;
        font-size: 1.1rem;
    }

    input{
        height: 55px;
    }

    .next, .back, .enviar{
        height: 65px;
    }

    h3{
        font-size: 1.5rem;
    }

    #box > label{
        font-size: 1.2rem;
    }

    .check{
        width: 20px;
        height: 20px;
    }
}
